@font-face {
      font-family: "Kdam Thmor Pro";
      src: url("assets/fonts/Kdam Thmor Pro/KdamThmorPro-Regular.ttf") format("truetype");
}

*, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


body {
      font-family: "Kdam Thmor Pro", sans-serif;
      background: #FFFFFF;
}

#header {
      position: relative;
}

.header-navbar {
      position: absolute;
      z-index: 3;
      top: 0;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: left;
      padding: 50px 260px 0px 260px;
      gap: 140px;
      background: transparent;
}

.header-navbar img {
    width: 80px;
}

.header-navbar-links {
      display: flex;
      font-size:  20px;
      list-style: none;
      gap: 120px;
}

.header-navbar-links a {
      color: #FFFFFF;
      text-decoration: none;
}

.header-navbar-links a:hover {
      color: #3894D9;
}
.header {
  display: flex;
  align-items: center;     
  padding: 15px 20px;
  gap: 15px;               
}

.nav-bar {
  margin-left: auto;        
}

.admin-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 300px; 
  grid-gap: 10px;
  background-color: #1a2332; 
  padding: 10px;
}

.card {
  background-color: #3b4b61; 
  border-radius: 12px;
  padding: 10px;
}

.sub-card {
  background-color: #4a5c78; 
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.registration-summary {
  grid-column: 1 / -1; 
}
